<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Subtitle1:</strong>
    <%= article.subtitle1 %>
  </p>

  <p>
    <strong>Image:</strong>
  </p>
  <img src="<%= article.image %>">


  <p>
    <strong>Paragraph1:</strong>
    <%= article.paragraph1 %>
  </p>

  <p>
    <strong>Subtitle2:</strong>
    <%= article.subtitle2 %>
  </p>

  <p>
    <strong>Paragraph2:</strong>
    <%= article.paragraph2 %>
  </p>

  <p>
    <strong>Subtitle3:</strong>
    <%= article.subtitle3 %>
  </p>

  <p>
    <strong>Paragraph3:</strong>
    <%= article.paragraph3 %>
  </p>

  <p>
    <strong>Conclusion:</strong>
    <%= article.conclusion %>
  </p>

</div>
